@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.typekit.net/qdo5nud.css');

body, html, #app {
	@apply bg-ev-999 absolute top-0 left-0 p-0 m-0 h-screen min-h-full w-full font-proxima overflow-hidden font-proxima antialiased text-text-300;
}

button, input {
	@apply font-proxima;
}

.el-header {
	@apply w-full;
}

.el-main {
	padding: 0px !important;
}

.el-breadcrumb {
	font-size: 11px !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ddd;
	margin: 1em 0;
	padding: 0;
}

.el-form-item {
	margin-bottom: 18px !important;
}

label.el-form-item__label {
	font-size: 12px;
}

.el-input__inner {
	height: 36px !important;
	line-height: 36px !important;
	padding: 0 13px !important;
	font-size: 12px !important;
}

.el-aside {
	overflow: initial;
}

.panel {
	@apply bg-white rounded shadow-2xl m-6;
}

.d-table {
	@apply w-full text-left;

	thead {
		@apply border border-t-0 border-l-0 border-r-0 border-ev-800;
		background: #f5f5f5;

		th {
			@apply px-3 py-1 text-sm font-medium;
		}
	}

	td {
		@apply px-3 py-2;

		&.actions {
			white-space: nowrap;

			button {
				@apply text-ev-100 text-sm inline ml-2;

				&:hover {
					@apply text-ev-700;
				}
			}
		}
	}
}

.d-head {
	@apply bg-ev-500 text-sm text-white;

	button, a {
		@apply bg-ev-700 px-2 py-1 m-2 rounded text-white;

		&:hover {
			@apply bg-ev-100;
		}
	}
}

@import "./inputs.scss";

@import "./login.scss";