@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,300,400');

body, html, #app {
	padding: 0px;
	margin: 0px;
	height: 100%;
	background: #F4F8FB;
	font-family: 'Open Sans', sans-serif;
}

.el-header {
	height: 60px;
	width: 100%;
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10);
}

.el-main {
	padding: 0px !important;
}

.el-breadcrumb {
	font-size: 11px !important;
}