@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://use.typekit.net/qdo5nud.css');

body, html, #app {
	@apply absolute top-0 left-0 p-0 m-0 h-screen min-h-full w-full font-proxima overflow-hidden font-proxima antialiased text-text-300;
	background: #F4F8FB;
}

button, input {
	@apply font-proxima;
}

.el-header {
	height: 60px;
	width: 100%;
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.10);
}

.el-main {
	padding: 0px !important;
}

.el-breadcrumb {
	font-size: 11px !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ddd;
	margin: 1em 0;
	padding: 0;
}

.el-form-item {
	margin-bottom: 18px !important;
}

label.el-form-item__label {
	font-size: 12px;
}

.el-input__inner {
	height: 36px !important;
	line-height: 36px !important;
	padding: 0 13px !important;
	font-size: 12px !important;
}

@import "./inputs.scss";

@import "./login.scss";